.DefaultLanding-container {
  width: 80vw;
  margin: 0 auto;
  .galleryCard-container {
    width: 100%;
    margin: 0 auto;

    .gallery-title {
      text-align: center;
      margin: 100px 0px;
    }
    .images-container {
      width: 80vw;
      margin: 0px auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
      object-fit: cover;
      gap: 20px 20px;
    }
  }
}
