.eventPage-container {
  width: 80vw;
  margin: 0px auto;
  padding-top: 200px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 2fr));
  object-fit: cover;
  gap: 190px 20px;
  margin-bottom: 20em;
}

.description-warper {
  .time {
    font-weight: bold;
  }
  .event-title {
    text-align: center;
  }
}
