@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");

// navbar
.Navbar {
  height: 100px;
  background: #34495e;

  color: #fff;
  position: fixed;
  width: 100%;
  margin: 0 auto;
}

// navbar  left header
.Navbar h2 {
  color: white;
  padding-left: 1%;
}
// navbar  left header
.logo {
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}
// navbar right
.menu {
  float: right;
  line-height: 100px;
}

// navbar links
.menu .Nav_Link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #3498db;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 800px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }

  .Navbar {
    height: 100px;
    background: #34495e;

    color: #fff;
    position: fixed;
    width: 100%;
    margin: 0 auto;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    z-index: 1;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu .Nav_Link {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}
