.OurStory-container {
  background-color: #ededed;
  width: 100%;
  margin: 150px 0;
  padding: 35px 0px;

  h2 {
    text-align: center;
  }

  .storySlogan {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin:20px;
  }

  .story {
    width: 70%;
    margin: 50px auto;
  }
}
