.testimonialCard-container {
  padding: 40px;
  .authr-name {
    text-align: center;
    margin-top: 15px;
  }

  .testimonials-date {
    float: right;
    margin-right: 50px;
  }

  .testimonials-text {
    padding: 15px;
  }
}
