$paragraph-font-size-lg: 18px;
$paragraph-font-size-md: 16px;
$paragraph-font-size-sm: 14px;
$paragraph-font-size-xs: 12px;

.EventDetails {
  width: 80vw;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 150px;

  .event-container {
    width: 55vw;
    margin: 0 auto;
    .image {
      width: 100%;

      img {
        width: 100%;
      }
    }
    .details {
      background-color: pink;
      padding: 15px 20px;

      .first-details {
        width: 100%;

        .event-date {
          time {
            font-size: 1.5vw;
            span {
              font-size: 1vw;
              font-weight: bold;
            }
          }
        }

        .event-title {
          text-align: center;
          h1 {
            font-size: 3vw;
          }
        }
      }

      .event-info {
        width: 100%;
        .event-description {
          width: 80%;
          height: 200px;
          margin: 0px auto;
          padding-top: 20px;

          p {
            width: 100%;
            word-wrap: break-word;
            text-align: center;
            font-size: $paragraph-font-size-lg;

            @media (max-width: 1524px) {
              font-size: $paragraph-font-size-md;
            }

            @media (max-width: 640px) {
              font-size: $paragraph-font-size-sm;
            }

            @media (max-width: 480px) {
              font-size: $paragraph-font-size-xs;
            }
          }
        }

        .event-bundles {
          .bundle-center {
            margin-bottom: 30px;
            text-align: center;
            font-size: 1.5em;
          }

          .bundle-cards {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px 0;
            text-align: center;
            overflow: auto;
            white-space: nowrap;
            user-select: none;
            ::-webkit-scrollbar {
              width: 1000px;
            }
          }
        }

        .price {
          text-align: right;
          height: 50px;
          p {
            margin-top: 20px;
            font-size: 1em;
            span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
